<div class="Academic Services">
  <p> - Teaching assistant for IIMP6050 obotics System Design (Instructor: Prof. Shaojie Shen), HKUST. </p>
  <p> - Teaching assistant for COMP3120 Computer Communication Networks (Instructor: Prof. Chin-Tau LEA), HKUST.</p>
  <p> - Reviewer for IEEE RA-L x4, ICRA x2, and IROS x8. </p>
</div>
